.welcome-message {
    color: green;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.login-message {
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}